@model TravelBookingApp.Models.CarBooking

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CarBooking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pickup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pickup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dropoff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dropoff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickupTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickupTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DropoffTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DropoffTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
