@model TravelBookingApp.Models.FlightBooking

<h2>Enter Booking Details</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>

    

    <div class="form-group">
        @Html.LabelFor(model => model.DepartureLocation)
        @Html.EditorFor(model => model.DepartureLocation, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DepartureLocation, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ArrivalLocation)
        @Html.EditorFor(model => model.ArrivalLocation, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ArrivalLocation, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DepartureDate)
        @Html.EditorFor(model => model.DepartureDate, new { htmlAttributes = new { @class = "form-control", type = "datetime-local" } })
        @Html.ValidationMessageFor(model => model.DepartureDate, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ArrivalDate)
        @Html.EditorFor(model => model.ArrivalDate, new { htmlAttributes = new { @class = "form-control", type = "datetime-local" } })
        @Html.ValidationMessageFor(model => model.ArrivalDate, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input type="submit" value="Search Flights" class="btn btn-primary" />
    </div>
}
