@model TravelBookingApp.Models.BookingViewModel

@{
    ViewData["Title"] = "Welcome to Rihla Travels";
}

<div class="container-fluid">
    <div class="row py-5 text-center">
        <h5 class="home-subtitle mb-2">Welcome to </h5>
        <h1 class="home-title">Rihla Travels </h1>
    </div>
    <div class="row py-5">
        <!-- Flight Bookings Card -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center">
                    <h4>Flight Bookings</h4>
                </div>
                <div class="card-body" style="max-height: 200px; overflow-y: auto;">
                    @if (Model.FlightBookings != null && Model.FlightBookings.Count > 0)
                    {
                        var index = 1;
                        foreach (var booking in Model.FlightBookings)
                        {
                            <a asp-controller="FlightBookings" asp-action="Details" asp-route-id="@booking.FlightBookingId">Booking # @index</a>

                            <br />
                            index++;
                        }
                    }
                    else
                    {
                        <p>You have no flight bookings.</p>
                    }
                </div>
                <a asp-controller="FlightBookings" asp-action="Create" class="btn btn-outline-light">Create Booking</a>
            </div>
        </div>

        <!-- Hotel Bookings Card -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center">
                    <h4>Hotel Bookings</h4>
                </div>
                <div class="card-body" style="max-height: 200px; overflow-y: auto;">
                    @if (Model.HotelBookings != null && Model.HotelBookings.Count > 0)
                    {
                        var index = 1;
                        foreach (var booking in Model.HotelBookings)
                        {
                            <a asp-controller="HotelBookings" asp-action="Details" asp-route-id="@booking.Id">Booking # @index</a>

                            <br />
                            index++;
                        }
                    }
                    else
                    {
                        <p>You have no hotel bookings.</p>
                    }
                </div>
                <a asp-controller="HotelBookings" asp-action="SelectHotel" class="btn btn-outline-light">Create Booking</a>
            </div>
        </div>

        <!-- Car Bookings Card -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center">
                    <h4>Car Bookings</h4>
                </div>
                <div class="card-body" style="max-height: 200px; overflow-y: auto;">
                    @if (Model.CarBookings != null && Model.CarBookings.Count > 0)
                    {
                        var index = 1;
                        foreach (var booking in Model.CarBookings)
                        {
                            <a asp-controller="CarBookings" asp-action="Details" asp-route-id="@booking.Id">Booking # @index</a>

                            <br />
                            index++;
                        }
                        
                    }
                    else
                    {
                        <p>You have no car bookings.</p>
                    }
                </div>
                <a asp-controller="CarBookings" asp-action="Create" class="btn btn-outline-light">Create Booking</a>
            </div>
        </div>
    </div>
</div>