@model TravelBookingApp.Models.Booking

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Trip</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.Users"></select>
            </div>

            <!-- Dropdowns for selecting flights, hotels, and cars -->
            <div class="form-group">
                <label asp-for="SelectedFlights" class="control-label">Select Flights:</label>
                <select asp-for="SelectedFlights" class="form-control" multiple>
                    @foreach (var flight in Model.AllFlights)
                    {
                        <option value="@flight.FlightId">@flight.DepartureCity</option>
                    }
                </select>
            </div>

            

            <div class="form-group">
                <label asp-for="SelectedCars" class="control-label">Select Cars:</label>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Car Model</th>
                            <!-- Add more columns if needed -->
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var car in Model.AllCars)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" name="SelectedCars"  value="@car.CarId" />
                                    @car.Make
                                    @car.Model
                                    <!-- Add more columns if needed -->
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
