@model TravelBookingApp.Models.HotelBooking

<h2>Booking Details</h2>

<div>
    <h4>@Model.Hotel.Name</h4>
    <p>Name: @Model.FullName</p>
    <p>@Model.Hotel.Description</p>
    <p>Check-In: @Model.CheckInDate.ToShortDateString()</p>
    <p>Check-Out: @Model.CheckOutDate.ToShortDateString()</p>
    <p>Guests: @Model.NumberOfGuests</p>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    
</div>
